# Secrets
.env

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.langchain.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.DS_Store
medical_database_tdb.duckdb
files/medical/data/raw_data/

src/runner/generic_thalamusdb_runner/tdb
src/runner/generic_thalamusdb_runner/__init__.py
reviewText:right_index

.prompts
utils/
files/medical/data/*.parquet
medical_database.duckdb

environment.yml
.history/
files/medical/data/medical_database_tdb.duckdb

sample_200

SemBenchKey.pem

*.duckdb
files/mmqa/_data
files/mmqa/data

files/mmqa/source_data/*
files/movie/source_data/*
files/animals/source_data/*
files/ecomm/source_data/*
files/medical/source_data/*

run_ec2.sh
logs
run_all.sh

files/mmqa/data/images/*
files/mmqa/data_sf=200/*
files/mmqa/data/sf_200/*