[metadata]
query_id = 10
modalities = ["image"]
required_operators = ["SEMANTIC_FILTER", "SEMANTIC_JOIN"]
description = """
Find matching outfits based on images.

multi-way join with different selectivity estimates.
2 joins.

Interesting because of multiple selectivity estimates of semantic filters on base tables ("is shoe?", "can wear as top?") and hence join ordering.

Provide both text and image so that filters can be evaluated flexibly with different costs on different modalities.
"""

[definition]
# For systems that accept free-text queries
natural_language = """
Based on product images, find matching outfits consisting of shoes,
bottomwear, and topwear in Black, Blue, Red, or White,
where all three items are from the same brand, same color,
and each is priced at $10 or less.
"""
# Equivalent to the natural language query
sql = ""

# Traditional SQL query to compute the exact result on the non-omitted data.
ground_truth = """
WITH shoes AS (
  SELECT id, baseColour as color, price, brandName
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND masterCategory.typeName = 'Footwear'
    AND price <= 1000
),
lower AS (
  SELECT id, baseColour as color, price, brandName
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND masterCategory.typeName = 'Apparel' AND subCategory.typeName = 'Bottomwear'
    AND price <= 1000
),
upper AS (
  SELECT id, baseColour as color, price, brandName
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND masterCategory.typeName = 'Apparel' AND subCategory.typeName = 'Topwear'
    AND price <= 1000
)
SELECT
  shoes.id || '-' || lower.id || '-' || upper.id AS id
FROM shoes
JOIN lower ON shoes.color = lower.color AND shoes.brandName = lower.brandName
JOIN upper ON lower.color = upper.color AND lower.brandName = upper.brandName
WHERE true
  AND shoes.color IN ('Black', 'Blue', 'Red', 'White')
;
"""

# Which accuracy metric to use for evaluation
accuracy_metric = "f1-score"
