[metadata]
query_id = 11
modalities = ["text", "image"]
required_operators = ["SEMANTIC_FILTER", "SEMANTIC_JOIN"]
description = """
Find matching outfits based on both images and text.

multi-way join with different selectivity estimates.
3 joins

Interesting because of multiple selectivity estimates of semantic filters on base tables ("is shoe?", "can wear as top?") and hence join ordering.

Provide both text and image so that filters can be evaluated flexibly with different costs on different modalities.
"""

[definition]
# For systems that accept free-text queries
natural_language = """
Based on product images and descriptions, find matching all-black outfits
consisting of shoes, bottomwear (excluding swimwear), topwear (excluding swimwear),
and an accessory (watch, jewellery, or bag priced at $5 or less),
where all four items are from the same brand.
"""
# Equivalent to the natural language query
sql = ""

# Traditional SQL query to compute the exact result on the non-omitted data.
ground_truth = """
WITH shoes AS (
  SELECT
    id,
    brandName as brand,
    price,
    productDisplayName as title,
    productDescriptors.description.value as description
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND masterCategory.typeName = 'Footwear'
    AND baseColour = 'Black'
),
lower AS (
  SELECT
    id,
    brandName as brand,
    price,
    productDisplayName as title,
    productDescriptors.description.value as description
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND masterCategory.typeName = 'Apparel'
    AND subCategory.typeName = 'Bottomwear'
    AND articleType.typeName <> 'Swimwear'
    AND baseColour = 'Black'
),
upper AS (
  SELECT
    id,
    brandName as brand,
    price,
    productDisplayName as title,
    productDescriptors.description.value as description
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND masterCategory.typeName = 'Apparel'
    AND subCategory.typeName = 'Topwear'
    AND articleType.typeName <> 'Swimwear'
    AND baseColour = 'Black'
),
accessories AS (
  SELECT
    id,
    brandName as brand,
    price,
    productDisplayName as title,
    productDescriptors.description.value as description
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND masterCategory.typeName = 'Accessories'
    AND subCategory.typeName IN ('Watches', 'Jewellery', 'Bags')
    AND price <= 500
)
SELECT
  shoes.id || '-' || lower.id || '-' || upper.id || '-' || accessories.id AS id 
FROM shoes
JOIN lower ON shoes.brand = lower.brand
JOIN upper ON lower.brand = upper.brand
JOIN accessories ON upper.brand = accessories.brand
;
"""

# Which accuracy metric to use for evaluation
accuracy_metric = "f1-score"
