[metadata]
query_id = 7
modalities = ["text"]
required_operators = ["SEMANTIC_JOIN"]
description = """
Text-to-text join


maybe "same type of clothing from the same brand?
"""

[definition]
# For systems that accept free-text queries
natural_language = """
Find all pairs of products priced at $5 or less where both products
are of the same category and from the same brand based on their descriptions.
"""
# Equivalent to the natural language query
sql = ""

# Traditional SQL query to compute the exact result on the non-omitted data.
ground_truth = """
WITH product_selection AS (
  SELECT *
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND price <= 500
)
SELECT p1.id || '-' || p2.id AS id
FROM product_selection p1
JOIN product_selection p2
  ON p1.articleType.typeName = p2.articleType.typeName
  AND p1.brandName = p2.brandName
;
"""

# Which accuracy metric to use for evaluation
accuracy_metric = "f1-score"
