[metadata]
query_id = 9
modalities = ["image"]
required_operators = ["SEMANTIC_JOIN"]
description = """
Image-to-image join: Finding similar products.

A query that focuses on the isolated performance of a semantic image-to-image join.

Restrict items to a single base color only to make inference easier.
Also limit the price to make sure the join output does not explode. For the full dataset,
the result contains around 90000 items.
"""

[definition]
# For systems that accept free-text queries
natural_language = """
Based on product images, find pairs of distinct products under $8
in a single base color (Black, Blue, Red, White, Orange, or Green)
that depict objects of the same category and the same dominant surface color.
"""
# Equivalent to the natural language query
sql = ""

# Traditional SQL query to compute the exact result on the non-omitted data.
ground_truth = """
WITH product_selection AS (
  SELECT *
  FROM read_parquet('styles_details.parquet')
  WHERE true
    AND baseColour IN ('Black', 'Blue', 'Red', 'White', 'Orange', 'Green')
    AND colour1 = ''
    AND colour2 = ''
    AND price < 800
)
SELECT p1.id || '-' || p2.id AS id
FROM product_selection p1
JOIN product_selection p2
  ON p1.id != p2.id
  AND p1.baseColour = p2.baseColour
  AND p1.articleType.typeName = p2.articleType.typeName;
"""

# Which accuracy metric to use for evaluation
accuracy_metric = "f1-score"
